<h2>Top Ordered Items</h2>
<table border="1">
<% @items.each do |item| %>
    <tr>
    <td>
  <p>Product: <%= item.product_id %>:<%= item.name %></p>
  <p>Total Order Qty: <%= item.sum_line_items %></p>
    </td>
    </tr>
<%end %>
</table>
<%= link_to "Main Menu", root_path %>