<h2>All Orders</h2>
<% if @order %>
  <p>User ID: <%= @order.user_id %></p>
  <p>Card No: <%= @order.card_no %></p>
  <p>Line Items: </p>
  <ul>
    <% @order.line_items.each do |item| %>
      <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
<% end %>